In [1]:
!pwd

/content

In [2]:
cd/content/drive/MyDrive

/content/drive/MyDrive

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import pickle

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/Data-Science-ML-Capstone-Projects/master/Automobile_insurance_fraud.csv')

In [5]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,16-07-1991,OH,500/1000,1000,1310.80,0,431289,...,?,87200,17440,8720,61040,Honda,Accord,2006,N,NaN
996,285,41,186934,05-01-2014,IL,100/300,1000,1436.79,0,608177,...,?,108480,18080,18080,72320,Volkswagen,Passat,2015,N,NaN
997,130,34,918516,17-02-2003,OH,250/500,500,1383.49,3000000,442797,...,YES,67500,7500,7500,52500,Suburu,Impreza,1996,N,NaN
998,458,62,533940,18-11-2011,IL,500/1000,2000,1356.92,5000000,441714,...,YES,46980,5220,5220,36540,Audi,A5,1998,N,NaN
999,456,60,556080,11-11-1996,OH,250/500,1000,766.19,0,612260,...,?,5060,460,920,3680,Mercedes,E400,2007,N,NaN

In [6]:
# Drop unnecessary columns
df = df.drop(['policy_number', '_c39'], axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_bind_date             1000 non-null   object
 3   policy_state                 1000 non-null   object
 4   policy_csl                   1000 non-null   object
 5   policy_deductable            1000 non-null   int64
 6   policy_annual_premium        1000 non-null   float64
 7   umbrella_limit               1000 non-null   int64
 8   insured_zip                  1000 non-null   int64
 9   insured_sex                  1000 non-null   object
 10  insured_education_level      1000 non-null   object
 11  insured_occupation           1000 non-null   object
 12  insured_hobbies              1000 non-null   object
 13  insured_relationship         1000 non-null   object
 14  capital-gains                1000 non-null   int64
 15  capital-loss                 1000 non-null   int64
 16  incident_date                1000 non-null   object
 17  incident_type                1000 non-null   object
 18  collision_type               1000 non-null   object
 19  incident_severity            1000 non-null   object
 20  authorities_contacted        1000 non-null   object
 21  incident_state               1000 non-null   object
 22  incident_city                1000 non-null   object
 23  incident_location            1000 non-null   object
 24  incident_hour_of_the_day     1000 non-null   int64
 25  number_of_vehicles_involved  1000 non-null   int64
 26  property_damage              1000 non-null   object
 27  bodily_injuries              1000 non-null   int64
 28  witnesses                    1000 non-null   int64
 29  police_report_available      1000 non-null   object
 30  total_claim_amount           1000 non-null   int64
 31  injury_claim                 1000 non-null   int64
 32  property_claim               1000 non-null   int64
 33  vehicle_claim                1000 non-null   int64
 34  auto_make                    1000 non-null   object
 35  auto_model                   1000 non-null   object
 36  auto_year                    1000 non-null   int64
 37  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(16), object(21)
memory usage: 297.0+ KB

there is no missing value

In [8]:
# Feature Engineering (extracting year, month, day from incident_date)
df['incident_year'] = pd.to_datetime(df['incident_date']).dt.year
df['incident_month'] = pd.to_datetime(df['incident_date']).dt.month
df['incident_day'] = pd.to_datetime(df['incident_date']).dt.day
df = df.drop('incident_date', axis=1)

In [9]:
# dropping unnecessary dates

df.drop('policy_bind_date', axis = 1, inplace = True)

In [10]:
for i in df.columns:
  print(df[i].value_counts())

194    8
128    7
254    7
140    7
210    7
      ..
390    1
411    1
453    1
448    1
17     1
Name: months_as_customer, Length: 391, dtype: int64
43    49
39    48
41    45
34    44
38    42
30    42
31    42
37    41
33    39
40    38
32    38
29    35
46    33
42    32
35    32
36    32
44    32
28    30
26    26
45    26
48    25
47    24
27    24
57    16
25    14
55    14
49    14
53    13
50    13
24    10
54    10
61    10
51     9
60     9
58     8
56     8
23     7
21     6
59     5
62     4
52     4
64     2
63     2
19     1
20     1
22     1
Name: age, dtype: int64
OH    352
IL    338
IN    310
Name: policy_state, dtype: int64
250/500     351
100/300     349
500/1000    300
Name: policy_csl, dtype: int64
1000    351
500     342
2000    307
Name: policy_deductable, dtype: int64
1558.29    2
1215.36    2
1362.87    2
1073.83    2
1389.13    2
          ..
1085.03    1
1437.33    1
988.29     1
1238.89    1
766.19     1
Name: policy_annual_premium, Length: 991, dtype: int64
 0           798
 6000000      57
 5000000      46
 4000000      39
 7000000      29
 3000000      12
 8000000       8
 9000000       5
 2000000       3
 10000000      2
-1000000       1
Name: umbrella_limit, dtype: int64
477695    2
469429    2
446895    2
431202    2
456602    2
         ..
476303    1
450339    1
476502    1
600561    1
612260    1
Name: insured_zip, Length: 995, dtype: int64
FEMALE    537
MALE      463
Name: insured_sex, dtype: int64
JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: insured_education_level, dtype: int64
machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
other-service        71
priv-house-serv      71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: insured_occupation, dtype: int64
reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
golf              55
camping           55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: insured_hobbies, dtype: int64
own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: insured_relationship, dtype: int64
0        508
46300      5
51500      4
68500      4
55600      3
        ...
36700      1
54900      1
69200      1
48800      1
50300      1
Name: capital-gains, Length: 338, dtype: int64
 0        475
-31700      5
-53700      5
-50300      5
-45300      4
         ...
-12100      1
-17000      1
-72900      1
-19700      1
-82100      1
Name: capital-loss, Length: 354, dtype: int64
Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: incident_type, dtype: int64
Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64
Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64
Police       292
Fire         223
Other        198
Ambulance    196
None          91
Name: authorities_contacted, dtype: int64
NY    262
SC    248
WV    217
VA    110
NC    110
PA     30
OH     23
Name: incident_state, dtype: int64
Springfield    157
Arlington      152
Columbus       149
Northbend      145
Hillsdale      141
Riverwood      134
Northbrook     122
Name: incident_city, dtype: int64
9935 4th Drive         1
4214 MLK Ridge         1
8548 Cherokee Ridge    1
2352 MLK Drive         1
9734 2nd Ridge         1
                      ..
6770 1st St            1
4119 Texas St          1
4347 2nd Ridge         1
1091 1st Drive         1
1416 Cherokee Ridge    1
Name: incident_location, Length: 1000, dtype: int64
17    54
3     53
0     52
23    51
16    49
13    46
10    46
4     46
6     44
9     43
14    43
21    42
18    41
12    40
19    40
7     40
15    39
22    38
8     36
20    34
5     33
2     31
11    30
1     29
Name: incident_hour_of_the_day, dtype: int64
1    581
3    358
4     31
2     30
Name: number_of_vehicles_involved, dtype: int64
?      360
NO     338
YES    302
Name: property_damage, dtype: int64
0    340
2    332
1    328
Name: bodily_injuries, dtype: int64
1    258
2    250
0    249
3    243
Name: witnesses, dtype: int64
?      343
NO     343
YES    314
Name: police_report_available, dtype: int64
59400    5
2640     4
70400    4
4320     4
44200    4
        ..
65250    1
87100    1
6240     1
66600    1
67500    1
Name: total_claim_amount, Length: 763, dtype: int64
0        25
640       7
480       7
660       5
580       5
         ..
14840     1
6580      1
11820     1
16650     1
7500      1
Name: injury_claim, Length: 638, dtype: int64
0        19
860       6
480       5
660       5
10000     5
         ..
3590      1
6480      1
4580      1
4920      1
7500      1
Name: property_claim, Length: 626, dtype: int64
5040     7
3360     6
52080    5
4720     5
3600     5
        ..
43360    1
25130    1
38940    1
47430    1
52500    1
Name: vehicle_claim, Length: 726, dtype: int64
Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: auto_make, dtype: int64
RAM               43
Wrangler          42
A3                37
Neon              37
MDX               36
Jetta             35
Passat            33
A5                32
Legacy            32
Pathfinder        31
Malibu            30
92x               28
Camry             28
Forrestor         28
F150              27
95                27
E400              27
93                25
Grand Cherokee    25
Escape            24
Tahoe             24
Maxima            24
Ultima            23
X5                23
Highlander        22
Civic             22
Silverado         22
Fusion            21
ML350             20
Impreza           20
Corolla           20
TL                20
CRV               20
C300              18
3 Series          18
X6                16
M5                15
Accord            13
RSX               12
Name: auto_model, dtype: int64
1995    56
1999    55
2005    54
2006    53
2011    53
2007    52
2003    51
2009    50
2010    50
2013    49
2002    49
2015    47
1997    46
2012    46
2008    45
2014    44
2001    42
2000    42
1998    40
2004    39
1996    37
Name: auto_year, dtype: int64
N    753
Y    247
Name: fraud_reported, dtype: int64
2015    1000
Name: incident_year, dtype: int64
1     365
2     312
8      39
12     39
6      37
4      36
7      35
10     34
3      31
9      30
5      23
11     19
Name: incident_month, dtype: int64
1     200
2     199
17     41
24     41
21     38
14     37
13     37
22     34
19     33
28     33
18     33
23     32
20     32
16     32
15     31
26     28
25     28
27     27
30     21
31     20
3      12
29     11
Name: incident_day, dtype: int64

- convert policy deductable into object
- umbrela limit to be removed: filled with 0 values
- capital gain and loss to be removed: filled with 0 values
- collision_type contains '?'. let's locate them and replace by the mode or remove the column
- convert number of vehcles involved into categoical
- property_damage contains '?'. let's locate them and replace by the mode or remove the column
- convert bodily_injuries into categorical
- convert witnesses into categorical
- police_report_available contains '?'. let's locate them and replace by the mode or remove the column

In [11]:
list(df.columns)

['months_as_customer',
 'age',
 'policy_state',
 'policy_csl',
 'policy_deductable',
 'policy_annual_premium',
 'umbrella_limit',
 'insured_zip',
 'insured_sex',
 'insured_education_level',
 'insured_occupation',
 'insured_hobbies',
 'insured_relationship',
 'capital-gains',
 'capital-loss',
 'incident_type',
 'collision_type',
 'incident_severity',
 'authorities_contacted',
 'incident_state',
 'incident_city',
 'incident_location',
 'incident_hour_of_the_day',
 'number_of_vehicles_involved',
 'property_damage',
 'bodily_injuries',
 'witnesses',
 'police_report_available',
 'total_claim_amount',
 'injury_claim',
 'property_claim',
 'vehicle_claim',
 'auto_make',
 'auto_model',
 'auto_year',
 'fraud_reported',
 'incident_year',
 'incident_month',
 'incident_day']

In [12]:
df['policy_deductable'] = df['policy_deductable'].astype(object)

In [13]:
df.drop(['umbrella_limit','capital-gains','capital-loss'], axis = 1, inplace = True)

In [14]:
df.loc[df['collision_type']=='?',]

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,insured_zip,insured_sex,insured_education_level,insured_occupation,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,incident_year,incident_month,incident_day
1,228,42,IN,250/500,2000,1197.22,468176,MALE,MD,machine-op-inspct,...,780,780,3510,Mercedes,E400,2007,Y,2015,1,21
4,228,44,IL,500/1000,1000,1583.91,610706,MALE,Associate,sales,...,1300,650,4550,Accura,RSX,2009,N,2015,2,17
13,121,34,OH,100/300,1000,936.61,464652,FEMALE,MD,armed-forces,...,1120,1120,5040,Toyota,Highlander,2010,N,2015,8,1
26,257,43,IN,100/300,2000,1322.10,436984,MALE,High School,prof-specialty,...,1640,820,6560,Toyota,Camry,2005,N,2015,1,28
27,202,34,IN,100/300,500,848.07,607730,MALE,JD,exec-managerial,...,1040,520,4160,Suburu,Forrestor,2003,Y,2015,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
964,163,37,IN,500/1000,1000,1200.33,477631,FEMALE,High School,craft-repair,...,390,780,2730,Volkswagen,Jetta,2008,Y,2015,6,2
969,398,55,OH,250/500,500,862.19,606858,MALE,High School,adm-clerical,...,600,1200,4800,Accura,MDX,2012,N,2015,2,23
983,17,39,IL,250/500,1000,840.95,431202,FEMALE,JD,adm-clerical,...,430,430,2580,Suburu,Legacy,2002,N,2015,2,26
994,141,30,IN,500/1000,1000,1347.04,430665,MALE,High School,sales,...,540,1080,4860,Honda,Civic,1996,N,2015,1,22
999,456,60,OH,250/500,1000,766.19,612260,FEMALE,Associate,sales,...,460,920,3680,Mercedes,E400,2007,N,2015,2,26

In [15]:
df['collision_type'].value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64

removing the rows with '?' will cause a severe data loss. the mode is not dominant. So, we will remove the column

In [16]:
df.drop('collision_type', axis = 1, inplace = True)

In [17]:
df.loc[df['property_damage']=='?',]

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,insured_zip,insured_sex,insured_education_level,insured_occupation,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,incident_year,incident_month,incident_day
1,228,42,IN,250/500,2000,1197.22,468176,MALE,MD,machine-op-inspct,...,780,780,3510,Mercedes,E400,2007,Y,2015,1,21
3,256,41,IL,250/500,2000,1415.74,608117,FEMALE,PhD,armed-forces,...,6340,6340,50720,Chevrolet,Tahoe,2014,Y,2015,10,1
6,137,34,IN,250/500,1000,1333.35,441716,MALE,PhD,prof-specialty,...,21450,7150,50050,Nissan,Pathfinder,2012,N,2015,1,13
7,165,37,IL,100/300,1000,1137.03,603195,MALE,Associate,tech-support,...,9380,9380,32830,Audi,A5,2015,N,2015,2,27
16,70,26,OH,500/1000,1000,1199.44,619884,MALE,College,machine-op-inspct,...,5790,5790,40530,Nissan,Maxima,2012,N,2015,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,124,28,OH,250/500,1000,1235.14,443567,MALE,MD,exec-managerial,...,6020,6020,48160,Volkswagen,Passat,2012,N,2015,2,17
994,141,30,IN,500/1000,1000,1347.04,430665,MALE,High School,sales,...,540,1080,4860,Honda,Civic,1996,N,2015,1,22
997,130,34,OH,250/500,500,1383.49,442797,FEMALE,Masters,armed-forces,...,7500,7500,52500,Suburu,Impreza,1996,N,2015,1,23
998,458,62,IL,500/1000,2000,1356.92,441714,MALE,Associate,handlers-cleaners,...,5220,5220,36540,Audi,A5,1998,N,2015,2,26
999,456,60,OH,250/500,1000,766.19,612260,FEMALE,Associate,sales,...,460,920,3680,Mercedes,E400,2007,N,2015,2,26

In [18]:
df['property_damage'].value_counts()

?      360
NO     338
YES    302
Name: property_damage, dtype: int64

'?' has the highest number of unique values. we will drop the column

In [19]:
df.drop('property_damage', axis =1, inplace = True)

In [20]:
df['bodily_injuries'] = df['bodily_injuries'].astype(object)

In [21]:
df['witnesses'] = df['witnesses'].astype(object)

In [22]:
df.loc[df['police_report_available']=='?',]

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,insured_zip,insured_sex,insured_education_level,insured_occupation,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,incident_year,incident_month,incident_day
1,228,42,IN,250/500,2000,1197.22,468176,MALE,MD,machine-op-inspct,...,780,780,3510,Mercedes,E400,2007,Y,2015,1,21
6,137,34,IN,250/500,1000,1333.35,441716,MALE,PhD,prof-specialty,...,21450,7150,50050,Nissan,Pathfinder,2012,N,2015,1,13
9,212,42,IL,100/300,500,1315.68,600983,MALE,PhD,priv-house-serv,...,4700,4700,32900,Saab,92x,1996,N,2015,5,1
10,235,42,OH,100/300,500,1253.12,462283,FEMALE,Masters,exec-managerial,...,7910,15820,63280,Ford,F150,2002,N,2015,6,1
20,460,62,IN,250/500,1000,1187.96,618845,MALE,JD,other-service,...,0,5240,41920,Suburu,Impreza,2011,N,2015,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,22,21,IN,250/500,1000,1248.05,443550,FEMALE,High School,exec-managerial,...,5920,0,47360,Chevrolet,Malibu,2015,N,2015,2,15
993,124,28,OH,250/500,1000,1235.14,443567,MALE,MD,exec-managerial,...,6020,6020,48160,Volkswagen,Passat,2012,N,2015,2,17
995,3,38,OH,500/1000,1000,1310.80,431289,FEMALE,Masters,craft-repair,...,17440,8720,61040,Honda,Accord,2006,N,2015,2,22
996,285,41,IL,100/300,1000,1436.79,608177,FEMALE,PhD,prof-specialty,...,18080,18080,72320,Volkswagen,Passat,2015,N,2015,1,24
999,456,60,OH,250/500,1000,766.19,612260,FEMALE,Associate,sales,...,460,920,3680,Mercedes,E400,2007,N,2015,2,26

In [23]:
df['police_report_available'].value_counts()

?      343
NO     343
YES    314
Name: police_report_available, dtype: int64

'?' is a mode. we will drop the column.

In [24]:
df.drop('police_report_available', axis =1, inplace = True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   object
 3   policy_csl                   1000 non-null   object
 4   policy_deductable            1000 non-null   object
 5   policy_annual_premium        1000 non-null   float64
 6   insured_zip                  1000 non-null   int64
 7   insured_sex                  1000 non-null   object
 8   insured_education_level      1000 non-null   object
 9   insured_occupation           1000 non-null   object
 10  insured_hobbies              1000 non-null   object
 11  insured_relationship         1000 non-null   object
 12  incident_type                1000 non-null   object
 13  incident_severity            1000 non-null   object
 14  authorities_contacted        1000 non-null   object
 15  incident_state               1000 non-null   object
 16  incident_city                1000 non-null   object
 17  incident_location            1000 non-null   object
 18  incident_hour_of_the_day     1000 non-null   int64
 19  number_of_vehicles_involved  1000 non-null   int64
 20  bodily_injuries              1000 non-null   object
 21  witnesses                    1000 non-null   object
 22  total_claim_amount           1000 non-null   int64
 23  injury_claim                 1000 non-null   int64
 24  property_claim               1000 non-null   int64
 25  vehicle_claim                1000 non-null   int64
 26  auto_make                    1000 non-null   object
 27  auto_model                   1000 non-null   object
 28  auto_year                    1000 non-null   int64
 29  fraud_reported               1000 non-null   object
 30  incident_year                1000 non-null   int64
 31  incident_month               1000 non-null   int64
 32  incident_day                 1000 non-null   int64
dtypes: float64(1), int64(13), object(19)
memory usage: 257.9+ KB

In [26]:
# encoding categorical colmns
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()

for column in df:
    if df[column].dtypes == 'object':
        df[column] = encoder.fit_transform(df[column].values.reshape(-1,1))


df

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,insured_zip,insured_sex,insured_education_level,insured_occupation,...,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,incident_year,incident_month,incident_day
0,328,48,2.0,1.0,1.0,1406.91,466132,1.0,4.0,2.0,...,6510,13020,52080,10.0,1.0,2004,1.0,2015,1,25
1,228,42,1.0,1.0,2.0,1197.22,468176,1.0,4.0,6.0,...,780,780,3510,8.0,12.0,2007,1.0,2015,1,21
2,134,29,2.0,0.0,2.0,1413.14,430632,0.0,6.0,11.0,...,7700,3850,23100,4.0,30.0,2007,0.0,2015,2,22
3,256,41,0.0,1.0,2.0,1415.74,608117,0.0,6.0,1.0,...,6340,6340,50720,3.0,34.0,2014,1.0,2015,10,1
4,228,44,0.0,2.0,1.0,1583.91,610706,1.0,0.0,11.0,...,1300,650,4550,0.0,31.0,2009,0.0,2015,2,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,2.0,2.0,1.0,1310.80,431289,0.0,5.0,2.0,...,17440,8720,61040,6.0,6.0,2006,0.0,2015,2,22
996,285,41,0.0,0.0,1.0,1436.79,608177,0.0,6.0,9.0,...,18080,18080,72320,13.0,28.0,2015,0.0,2015,1,24
997,130,34,2.0,1.0,0.0,1383.49,442797,0.0,5.0,1.0,...,7500,7500,52500,11.0,19.0,1996,0.0,2015,1,23
998,458,62,0.0,2.0,2.0,1356.92,441714,1.0,0.0,5.0,...,5220,5220,36540,1.0,5.0,1998,0.0,2015,2,26
999,456,60,2.0,1.0,1.0,766.19,612260,0.0,0.0,11.0,...,460,920,3680,8.0,12.0,2007,0.0,2015,2,26

In [ ]:
# modelling

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import RandomOverSampler

In [28]:
# Split the Data
X = df.drop('fraud_reported', axis=1)
y = df['fraud_reported']

In [29]:
# Select features using RandomForestClassifier feature importance
selector = SelectFromModel(RandomForestClassifier(n_estimators=100, random_state=42), threshold='median')
X = selector.fit_transform(X, y)

In [30]:
# Oversample the minority class using RandomOverSampler
oversampler = RandomOverSampler(random_state=42)
X_resampled, y_resampled = oversampler.fit_resample(X, y)

In [31]:
# Split the data after feature selection
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

In [32]:
# Standardize numerical features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [33]:
# Build a neural network
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

In [34]:
# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
31/31 [==============================] - 2s 16ms/step - loss: 0.7505 - accuracy: 0.5296 - val_loss: 0.6676 - val_accuracy: 0.6307
Epoch 2/10
31/31 [==============================] - 0s 4ms/step - loss: 0.7193 - accuracy: 0.5587 - val_loss: 0.6381 - val_accuracy: 0.6556
Epoch 3/10
31/31 [==============================] - 0s 4ms/step - loss: 0.7033 - accuracy: 0.5607 - val_loss: 0.6190 - val_accuracy: 0.7012
Epoch 4/10
31/31 [==============================] - 0s 4ms/step - loss: 0.6495 - accuracy: 0.6314 - val_loss: 0.6044 - val_accuracy: 0.7178
Epoch 5/10
31/31 [==============================] - 0s 4ms/step - loss: 0.6301 - accuracy: 0.6303 - val_loss: 0.5866 - val_accuracy: 0.7303
Epoch 6/10
31/31 [==============================] - 0s 4ms/step - loss: 0.6158 - accuracy: 0.6708 - val_loss: 0.5738 - val_accuracy: 0.7344
Epoch 7/10
31/31 [==============================] - 0s 4ms/step - loss: 0.6094 - accuracy: 0.6729 - val_loss: 0.5655 - val_accuracy: 0.7344
Epoch 8/10
31/31 [==============================] - 0s 3ms/step - loss: 0.5895 - accuracy: 0.6833 - val_loss: 0.5572 - val_accuracy: 0.7510
Epoch 9/10
31/31 [==============================] - 0s 4ms/step - loss: 0.5972 - accuracy: 0.7040 - val_loss: 0.5512 - val_accuracy: 0.7635
Epoch 10/10
31/31 [==============================] - 0s 3ms/step - loss: 0.6030 - accuracy: 0.6957 - val_loss: 0.5516 - val_accuracy: 0.7469

In [ ]:
"""If the model's predicted probability for a particular instance is greater than 0.5,
it is assigned to the positive class; otherwise, it is assigned to the negative class."""

In [36]:
# Evaluate the model
y_pred = (model.predict(X_test) > 0.5).astype("int32")

10/10 [==============================] - 0s 3ms/step

In [37]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.7350993377483444

Classification Report:
               precision    recall  f1-score   support

         0.0       0.72      0.73      0.72       142
         1.0       0.75      0.74      0.75       160

    accuracy                           0.74       302
   macro avg       0.73      0.73      0.73       302
weighted avg       0.74      0.74      0.74       302


Confusion Matrix:
 [[103  39]
 [ 41 119]]

In [ ]:
# saving the model

In [38]:
model.save('Insurance_Claim_Fraud_Detection.h5')

In [ ]:
# comments and recommendations

- we combined traditional ML with deep learning due to the complexity and high number of variables in the dataset
- RandomForest was used for features selection because this is binary classification
- we recommend further building traditional ML using the same data an compare the accuracies.
- we should continue data analytics to screen in more relevant features in iproving model's accuracy